body {background-color:#3B5998;}

.navbar-inv {
  background-color: #FFF; /* background color will be black for all browsers */
  border-color:#FFF
}

#front-main {
	position:fixed;
	top: 40%;
}

#main-logo { /*image dimensions: 488px x 108px;*/
	margin-top: -104px;
	margin-left: -244px;
	padding-left: 50%;
	padding-bottom: 15px;
}