body {background-color:#3F6AB5;}

.navbar-inv {
  background-color: #FFF; /* background color will be white for all browsers */
  border-color:#FFF
}

#fb-button-li {
	margin-top:14px;
}

#front-main {
	position:fixed;
	top: 17%;
}

#main-logo { /*image dimensions: 488px x 108px;*/
	margin-top: 60px;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 10px;
	width: 40%;
}

#main-input { /*image dimensions: 488px x 108px;*/
	margin-left: 23%;
	margin-right: 23%;
	width: 54%;
}

